{% extends 'base.html' %}

{% block content %}
  <h1>Carrito de compras</h1>
  {% if cart %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Cantidad</th>          
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td>{{ item.marca }}</td>
            <td>{{ item.modelo }}</td>
            <td>S/. {{ item.precio }}</td>
            <td>{{ item.cantidad }}</td>
           
            <td>
              <form action="{% url 'eliminar_del_carrito' carrito_id=item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="4"><strong>Total</strong></td>
          <td><strong>S/. {{ total }}</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
  {% else %}
    <p>No hay productos en el carrito.</p>
  {% endif %}
{% endblock %}
